.main-bg-btn:hover,
.main-bg-btn:focus {
  background-color: #188ce8;
  color: var(--primary-bg-color);
}

.mainbg-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.mainbg-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.mainbg-item-title {
  color: var(--title-color);
}

.mainbg-item {
  width: 370px;
  height: 404px;
}

.main-item-desribe {
  margin-left: 24px;
}
